/* CSS Document */
*{ padding:0; margin:0;}
html,body{ width:100%; height:100%; display:flex; justify-content:center; align-items:center;}
body{ font-family:Arial, Helvetica, sans-serif; color:#333; line-height:60%;min-width: 1200px;}
ul,li{ list-style:none;}
a{ color:#304769; text-decoration:none;}
h1{font-size:60px;padding-top: 20px;padding-bottom: 20px;z-index: 1;}
h1,h2{ color:#fff;}
.bg{ width:100%; height:100%;padding:100px 0;box-sizing: border-box; display:flex; justify-content:center; align-items:center; background:url(../images/bg.jpg) no-repeat; background-size:cover;}
.wrap{ width:80%; height:80%; display:flex; flex-direction:column; align-items:center; justify-content:space-around;}
.nav{ width:80%; display:flex; justify-content:space-between;z-index: 1;}
.nav a{ display:inline-block; width:200px; line-height:50px; background:rgba(255,255,255,.8); text-align:center; transition:all .2s; border-radius:5px; margin-top: 3%;}
.nav a:hover{ background:rgba(255,255,255,1); text-decoration:underline; color:#006fac;}
.nav a.cur{ background:#006fac;text-decoration:underline; color:#fff;}
.ranking{ background:rgba(255,255,255,.8); display:flex; flex-wrap:wrap;  overflow:hidden;}
.ranking li{ width:25%; line-height:50px; box-sizing:border-box; text-align:center; border:1px solid #006fac;}
.ranking li a{ display:block; position:relative; }
.ranking li a::before{ content:''; background:rgba(0,111,172,.8); width:0%; height:100%; position:absolute; left:50%; transition:all .2s; }
.ranking li a::after{ content:''; background:rgba(0,111,172,.8); width:0%; height:100%; position:absolute; right:50%; color:#fff;transition:all .2s; }
.ranking li a:hover::before,.ranking li a:hover::after{ width:50%; z-index:-1}
.ranking li a:hover{ color:#fff; z-index:999;}
.wrap1{ width:80%; height:90%; display:flex; flex-wrap:wrap; justify-content:space-between;}
.wrap1 .item{ width:auto; height:300px; display:flex; flex-direction:column; justify-content:space-between;}
.wrap1 .item .pic{ width:auto; height:280px; overflow:hidden;}
.wrap1 .item img{transform:scale(1); transition:0.5s; width:100%; height: 100%; }
.wrap1 .item img:hover{ cursor:pointer;transform:scale(1.05); }
.wrap1 .item p{ height:60px; overflow:auto; border-bottom:1px solid #006fac;}
.home{ position:fixed; bottom:20px; right:20px;font-weight:bold;font-size:18px}
.tit span{ background:#006fac; border-radius:10px; color:#fff; display:inline-block; width:40px; text-align:center; line-height:30px; margin-right:20px;}
.tit a:hover{ color:#006fac; text-decoration:underline;}
.wrap2{ width:70%; display:flex; flex-wrap:wrap; justify-content:space-between;padding-top: 30px;z-index: 1;}
.wrap2 .item{ width:45%; height:300px; display:flex; flex-direction:column; justify-content:space-between;margin-bottom: 10px;}
.wrap2 .item .pic{ width:100%; max-height:220px; overflow:hidden;border-radius: 10px;}
.wrap2 .item img{transform:scale(1); transition:0.5s;width:100%; height:100%; }
.wrap2 .item img:hover{ cursor:pointer;transform:scale(1.1);}
.wrap2 .item p{ height:20px; border-bottom:1px solid #006fac;}
.inner{padding:50px 0;}
.wrap-inner{height:100%;}
.cover{height: 100%;width: 100%;position: absolute;left: 0;top: 0;background: rgba(255,255,255,0.5);z-index: 0;}
.menu{display: flex;flex-wrap: wrap;justify-content: space-between;width: 100%;}
.menu div{text-align: center;width:24%;}
.menu div img{width:90%;transition: all 1s;}
.menu div img:hover{transform: scale(1.02);}
.menu a{font-weight: bold;font-size:30px; line-height:50px;}
